body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    display: flex;
}

#logo {
    background-image: url("../favicon/favicon-310.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}

#first-row {
    margin-left: 20px;
    margin-right: 20px;
}

.form-group {
    display: inline-block;
    margin: 0px 10px;
}

.btn-speak {
    width: 100%;
    margin-bottom: 5px;
}

#creds {
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
}

#creds input {
    width: initial;
}

.row {
    text-align: center;
}

.row div {
    display: inline-block;
}

#activitiesContainer .button {
    margin-bottom: 10px;
    width: 170px;
    padding-left: 15px;
    padding-right: 15px;
}

.group {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 500px;
    width: 440px;
    height: 100%;
}

.group h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#toast-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#result, #error {
    min-width: 200px;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    z-index: 1;
}

#pages {
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
}

section {
    min-width: 100%;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    padding: 0 12rem;
}

section > div {
    display: flex;
    justify-content: center;
}

#scheduleContainer {
    margin-top: 3rem;
    flex-flow: row wrap;
    justify-content: space-around;
}

.block {
    margin: 0 10px 20px;
    padding: 20px;
    max-width: 200px;
    background-color: #eee;

    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.block:not(:first-of-type) {
    margin: 0 10px 20px 10px;
}

.block:last-of-type {
    cursor: pointer;
}

.block span {
    white-space: nowrap;
}

.block > * {
    width: 100%;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.controls span {
    cursor: pointer;
}

.clock {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
}

.clock * {
    margin-left: 5px;
    margin-right: 5px;
}

.clock .glyphicon {
    width: 20px;
    height: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body td {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
}

#commands-td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#commands-td [name="event-commands"] {
    white-space: pre-line;
}

#commands-td #edit-commands {
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.event-commands-edit-container {
    display: flex;
    flex-direction: column;
}

.event-commands-edit-container:not(:last-of-type) {
    margin-bottom: 10px;
}

.event-commands-edit-container > span {
    margin-bottom: 5px;
}

.modal-body label {
    margin-right: 10px;
}

.modal-body label input {
    margin-right: 5px;
}

.modal-dialog .alert {
    margin: 35px;
    margin-top: 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer button:first-child {
    margin-right: auto;
}

/* iPad Pro */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) {
    .group {
        padding: 0;
        max-width: initial;
        width: initial;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    #creds {
        margin-top: 15px;
    }
}

@media screen and (max-width: 585px) {
    .row > div {
        display: block;
    }

    #creds {
        margin-top: 15px;
    }

    .form-group {
        margin: auto;
        width: 45%;
    }
}

@media only screen and (max-device-width: 1000px) {
    .row > div {
        width: 100%;
        display: inline-block;
        margin: 4px 0;
    }

    .form-group {
        display: initial;
        margin: auto;
    }

    .group {
        display: initial;
    }

    .button {
        width: 50%;
    }
}

@media only screen and (max-device-width: 667px) {
    .group {
        display: flex;
        width: auto;
        height: auto;
    }

    #groupContainer {
        display: initial;
    }

    #logo {
        display: none;
    }
}
