body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.hidden {
    display: none;
}

.jumbotron {
    display: flex;
}

#logo {
    background-image: url("../favicon/favicon-310.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}

#first-row {
    margin-left: 20px;
    margin-right: 20px;
}

.form-group {
    display: inline-block;
    margin: 0px 10px;
}

.btn-speak {
    width: 100%;
    margin-bottom: 15px;
}

#creds .row {
    display: flex;
    justify-content: center;
}

.row {
    text-align: center;
}

#activitiesContainer .button, .tradfri-container {
    margin-bottom: 10px;
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.group h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#toast-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-block {
    white-space: normal;
}

#result, #error {
    min-width: 200px;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bold;
    z-index: 1;
}

#pages {
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
}

section {
    min-width: 100%;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    padding: 0 10%;
}

section > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#scheduleContainer {
    margin-top: 3rem;
    flex-flow: row wrap;
    justify-content: center;
}

.block {
    margin: 0 10px 20px;
    padding: 20px;
    max-width: 200px;
    background-color: #eee;

    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.block:not(:first-of-type) {
    margin: 0 10px 20px 10px;
}

.block:last-of-type {
    cursor: pointer;
}

.block span {
    white-space: nowrap;
}

.block > * {
    width: 100%;
}

.controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.controls span {
    cursor: pointer;
}

.clock {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 40px;
}

.clock * {
    margin-left: 5px;
    margin-right: 5px;
}

.clock .glyphicon {
    width: 20px;
    height: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body td {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.modal-body td:first-child {
    max-width: 110px;
}

#commands-td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#commands-td [name="event-commands"] {
    white-space: pre-line;
}

#commands-td #edit-commands {
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.event-commands-edit-container {
    display: flex;
    flex-direction: column;
}

.event-commands-edit-container:not(:last-of-type) {
    margin-bottom: 10px;
}

.event-commands-edit-container > span {
    margin-bottom: 5px;
}

#excluded-holidays-td {
    display: flex;
}

#excluded-holidays-td label {
    width: 100%;
    margin-right: 0;
}

.modal-body label {
    margin-right: 10px;
}

.modal-body label input {
    margin-right: 5px;
}

.modal-dialog .alert {
    margin: 35px;
    margin-top: 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer button:first-child {
    margin-right: auto;
}

.m-0a {
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

[disabled="disabled"] label {
    color: gray;
}

.glyphicon[disabled], input[disabled] {
    cursor: not-allowed !important;
}

.tradfri-inner-container {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
    border-color: rgb(62, 68, 70);
    border-style: solid;
    border-radius: 6px;
}

.tradfri-inner-container.inactive {
    opacity: 0.7;
}

.name-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name-container .name {
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 10px;
}

.name-container .glyphicon-off {
    font-size: 18px;
    color: #80808070;
    cursor: pointer;
}

.name-container .glyphicon-off.on {
    color: rgb(41, 98, 146, 0.7);
}

.hex-container {
    display: flex;
    justify-content: space-evenly;
}

.hex-suggestion {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    opacity: 0.7;
}

.hex-suggestion:not([disabled]):hover {
    opacity: 1;
}

input.hex-suggestion {
    appearance: none
}

/*input.hex-suggestion:checked {

}*/

.checkmark {
    cursor: pointer;
    position: relative;
    top: -22px;
    right: -7px;
}

.checkmark-inner {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark-circle {
    position: absolute;
    width:20px;
    height:20px;
    background-color: #30333096;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark-stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#ccc;
    left:10px;
    top:5px;
}

.checkmark-kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#ccc;
    left:7px;
    top:11px;
}

.dimmer-container {
    margin-top: 10px;
    margin-bottom: 12px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:not([disabled]):hover {
    opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 13px;
    background: rgb(41, 98, 146);
    cursor: pointer;
}

.slider[disabled]::-webkit-slider-thumb, .slider[disabled]::-moz-range-thumb {
    cursor: not-allowed !important;
}
