body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.button {
    height: 46px;
    margin-bottom: 10px;
    margin: 5px auto;
}

#groupContainer {
    display: flex;
}

.group {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    height: 0;
    max-width: 500px;
    width: 440px;
}

.group h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

@media only screen and (max-device-width: 1000px) {
    #groupContainer {
        display: initial;
    }

    .group {
        display: initial;
    }

    .button {
        width: 50%;
    }
}

@media only screen and (max-device-width: 667px) {
    .group {
        display: flex;
        width: auto;
        height: auto;
    }
}