body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    display: flex;
}

#logo {
    background-image: url("favicon/favicon-310.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
}

.form-group {
    margin-bottom: 15px;
    display: inline-block;
    margin: 0px 10px;
}

.btn-speak {
    width: 100%;
    margin-bottom: 5px;
}

#creds {
    margin: 5px 0;
}

.row {
    text-align: center;
}

.row div {
    display: inline-block;
}

.button {
    margin-bottom: 10px;
    margin: 5px auto;
    max-width: 170px;
}

#groupContainer {
    display: flex;
}

.group {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    width: 440px;
    height: 100%;
}

.group h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#result, #error {
    min-width: 200px;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left:-100px;
    bottom: 3%;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: bold;
}
/* iPad Pro */
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px) {
    .group {
        padding: 0;
        max-width: initial;
        width: initial;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    #creds {
        margin-top: 15px;
    }
}

@media screen and (max-width: 585px) {
    .row > div {
        display: block;
    }

    #creds {
        margin-top: 15px;
        display: flex;
    }

    .form-group {
        margin: auto;
        width: 45%;
    }
}

@media only screen and (max-device-width: 1000px) {
    .row > div {
        width: 100%;
        display: inline-block;
        margin: 4px 0;
    }

    .form-group {
        display: initial;
        margin: auto;
    }

    .group {
        display: initial;
    }

    .button {
        width: 50%;
    }
}

@media only screen and (max-device-width: 667px) {
    .group {
        display: flex;
        width: auto;
        height: auto;
    }

    #groupContainer {
        display: initial;
    }

    #logo {
        display: none;
    }
}
