{% macro createCommand(group, count) -%}
  <div class="group">
    <h2>{{ group.name }}</h2>
    {% for act in group.activities %}
      <div class="button">
        <button type="button" class="btn btn-default btn-block btn-lg" onclick="sendActivity({{ count[0] }});">{{ act.name }}</button>
      </div>
      {% if count.append(count.pop() + 1) %}{% endif %}
    {% endfor %}
  </div>
{%- endmacro %}
