<!DOCTYPE html>
<html>
  <head>
    {% include 'common-head.html.j2' %}

    <!-- <link rel="stylesheet" type="text/css" href="//unpkg.com/uiswitch@1.1.1/css/uiswitch.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uiswitch.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/clockpicker.css') }}">

    {% include 'favicons.html.j2' %}
    {% include 'base-scripts.html.j2' %}
    {% import "macros.html.j2" as macros %}

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- <script src="//bundle.run/css-scroll-snap-polyfill@0.1.2"></script> -->
    <script src="{{ url_for('static', filename='js/css-scroll-snap-polyfill@0.1.2.js') }}"></script>

    <script src="{{ url_for('static', filename='js/clockpicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-confirmation.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.2/velocity.min.js"></script> -->

    <script>
      cssScrollSnapPolyfill();
    </script>
  </head>
  <body>

    <div id="toast-container">
      <div id="result" class="alert alert-success" style="display: none;">Success!</div>
      <div id="error" class="alert alert-danger" style="display: none;">Error!</div>
    </div>

    <div class="container">
      {% include 'jumbotron.html.j2' %}
      <div id="first-row" class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
          <button type="button" class="btn btn-primary btn-speak" onclick="speak();">Speak</button>
        </div>
        <!-- iframe below is used to trigger browser 'save password' dialog -->
        <iframe src="{{ url_for('static', filename='ablankpage.htm') }}" id="temp" name="temp" style="display:none"></iframe>
        <form id="creds" class="col-xs-12 col-sm-5 col-md-5 col-lg-5" target="temp">
          {% include 'enter-credentials.html.j2' %}
          <input id="submit_button" style="display: none;" value="Login" type="submit">
        </form>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <h3 id="speech-status"></h3>
        </div>
      </div>
    </div>

    <div id="pages">
      <section>
        <div id="activitiesContainer">
          {% set count = [0] %}
          {% for group in activities.groups %}
            {{ macros.createCommand(group, count) }}
          {% endfor %}
        </div>
      </section>

      <section>
        <div id="scheduleContainer">
          {% for event in activities.scheduled %}
            {{ macros.createBlock(event, now) }}
          {% endfor %}

          <div class="block btn-lg" id="new-event">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
        </div>
      </section>
    </div>

    {% include 'modal.html.j2' %}
    {% include 'scheduling-scripts.html.j2' %}
  </body>
</html>
