<!DOCTYPE html>
<html>
  <head>
    {% include 'common-head.html.j2' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

    {% include 'favicons.html.j2' %}
    {% include 'shared-scripts.html.j2' %}

    <div class="container">
      {% include 'jumbotron.html.j2' %}
    </div>

    <form id="login-container" action="login" method="post">
      {% include 'enter-credentials.html.j2' %}

      <div class="row d-flex">
        <div class="m-0a col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button type="submit" class="btn btn-primary btn-login">Login</button>
        </div>
      </div>
    </form>

  </body>
</html>
