<script>
  function isNight() {
    let currentTime = new Date().getHours();
    return (22 <= currentTime && currentTime <= 24 || 0 <= currentTime && currentTime < 5);
  }

  if (isNight()) {
    $(document.body).addClass('night')
  }
</script>
